/**
 * Layout
 */

.app-header {
  background-color: #3fb2b5;

  h1 {
    text-decoration: none;
    font-weight: 600;
    font-size: 21px;

    a {
      text-decoration: none;
      color: #fff;
    }

    span {
      font-weight: 700;
      bottom: -1.25px;
      align-self: baseline;
      position: relative;
      margin-left: 12px;
      font-size: 14.5px;
      color: #006467;
    }
  }
}

.app-content {
  flex: 1;
  margin: 0 0 30px;

  .content-h2 {
    font-size: 29px;
    line-height: 1;
    margin: 30px 0;
  }
}

.app-footer {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  font-weight: 300;
}
