<div class="card p-3 border" [ngClass]="{'bg-light shadow-sm': !data.IsTodayDate}">
  <dl class="m-0">
    <dt>
      <h3><time>{{ data.DateString}}</time></h3>
    </dt>
    <dd>
      <figure class="m-0">
        <span class="flex">
          <img [src]="data.IconUrl" height="100" width="100" [alt]="data.Description" />
          <span>{{ data.Temperature }}<span>&#176;</span></span>
        </span>
        <figcaption>
          {{ data.Description }}
        </figcaption>
      </figure>
    </dd>
    <dd class="m-0">
      Wind: {{ data.Windspeed }} meter/sec
    </dd>
  </dl>
</div>